.sitename{
    font-family:  "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
#fla{
    color: rgba(191, 23, 23, 0.897);
    
}
#believe {
    color: rgba(191, 23, 23, 0.897);
    font-weight: bolder;
}